{namespace Templates.PrivateTemplate}

/**
 */
{template .content}
	{call PrivateTemplate.hello data="all" /}
{/template}

/**
 * @param name
 */
{template .hello private="true"}
	Hello {$name}!
{/template}
